<head><title>BANCO DE DADOS: Me Salva</title></head>
<body>
  <h1>BANCO DE DADOS: Me Salva</h1>
  <p>Trabalho final de Fundamentos de Banco de Dados.<br>
  Alunos: 00231060 - Guilherme Tassinari e 00275604 - Leticia Dos Santos</p>

  <p>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/usuarios-inativos">Usuários Inativos</a>
      </li>
      <li>
        <a href="/conteudos-mais-comentados">Conteúdos mais comentados</a>
      </li>
      <li>
        <a href="/conteudos-melhor-avaliados">Conteúdos melhor avaliados</a>
      </li>
    </ul>
  </p>
</body>