<head><title>BANCO DE DADOS: Me Salva</title></head>
<body>
  <h1>BANCO DE DADOS: Me Salva</h1>
  <p>Trabalho final de Fundamentos de Banco de Dados.<br>
  Alunos: 00231060 - Guilherme Tassinari e 00275604 - Leticia Dos Santos</p>

  <p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/usuarios-inativos">Usuários Inativos</a></li>
      <li><a href="/conteudos-mais-comentados">Conteúdos mais comentados</a></li>
      <li><a href="/conteudos-melhor-avaliados">Conteúdos melhor avaliados</a></li>
      <li><a href="/atividade-usuarios">Atividade dos usuários</a></li>
      <li><a href="/avaliacao-redacao">Avaliações de redeção</a></li>
      <li><a href="/media-redacao">Média de redação para cada usuários</a></li>
      <li><a href="/usuario-sem-avaliacao">Usuários sem redações avaliadas</a></li>
      <li><a href="/exercicios">Exercicios disponíveis</a></li>
      <li><a href="/exercicios-n-respondidos">Exercicios não respondidos pelo Estudante 1</a></li>
      <li><a href="/exercicio-gabarito">Gabarito do exercicio 1</a></li>
      <li><a href="/usuario-taxa-acerto">Número de questões distintas respondidas e acertos por cada usuário</a></li>
      <li><a href="/conteudo-atividade">Conteúdos e atividades</a></li>
      <li><a href="/conteudo-gratuito">Conteúdos gratuitos</a></li>
      <li><a href="/comentarios">Comentarios</a></li>
      <li><a href="/pedidos">Pedidos</a></li>
    </ul>
  </p>
</body>